.sale{
  background-color: #EBE7E3;
}

body {
  position: relative;
  margin :0;
  font-family: Arial, Helvetica, sans-serif;
  }


  table, th, td {
    border: 2px solid black;
    width: 50%;

  }

.navbar {

    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



  header{
    background-color: #EBE7E3;
  
  }


#heading{
  font-family: 'Trade Winds';
}
h2{
  font-family: 'Roboto Condensed'
}
h3{
  font-family: 'Roboto Condensed'
}



p{
  font-family: 'Spartan';
  font-size: 1.2em;
}

footer{
  position: relative;
  background-color: #EBE7E3;
  padding: 150px;
}
          footer p {
            font-size: 1.1em;
          }


  footer img{
    float: right;
      
  }
  .comp{
    float: right;
    margin-right: 100px;
  }
  .salmon{
    position: relative;
    margin:0px 400px ;
  }
